* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
img {
    width: 100%;
    height: auto;
}
header{
    width: 100%;
    background-color: #F1EBDE;
    height: auto;
    
}

    
.AnnouncementBar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    font-size: 10px;
    padding-top: 10px; ;
    

}

 .nav-container{
   display: flex;
   margin-right: 15px;
   margin-left: 15px;
    justify-content: space-between;
    align-items:center;
    position: relative;
    height: 50px;

}

a{
    text-decoration: none;
    color: black;
}
.nav-container .logo{
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 35px;
    left: calc(50% - 45px);
    font-family: "Suranna";

    
}
.nav-container .under-line{
    position: absolute;
}
.nav-container .account_details{
    margin: 5px;
}
.account_details a{
    padding: 5px;
}
.nav_categories{
    margin: 5px;
}
.nav_categories a{
    padding: 5px 15px 5px 15px;
}
.under-line{
    border: 1px solid #F1EBDE;
    height: 5px;
    width: 250px;
    top: 75%;
    left: 1.75%;
    background: linear-gradient(90deg,#ff5c77, #4dd091, #ffec59, #ffa23a);
}
@media  screen and (max-width: 767px){
    .nav-container{
        display: flex;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;
    }
    .nav-container .logo{
        top:10%;
        font-size: 40px;
        left: calc(50% - 55px);
        
    }
    .account_details a{
        margin: 10px;
       margin-bottom: 20px;

    }
    .under-line{
        left: calc(50% - 75px); 
        width: 150px;  
        top: 70%;
    }
}

.first-window{
    display: flex;
    flex-direction:column;
    align-items: center;
    flex-wrap: wrap;
}
 .first-h3{
    display: flex;
    text-align: center;
    font-size: 30px;
    
  
    
}
.images{
    display: flex;
    flex-direction: row;
    position: relative;
    
}
button{
    background-color:white;
    border-color: white;
   margin-left: 20px;
   margin-right:20px;
   font-family: 'Suranna';
   font-size: 20px;
}
.main-button{
    font-size: 30px;
    margin: 15px;
    background-color:white;
    
}
.images img{
    height: 300px;
    width: auto;
    padding: 15px;
    position: relative;
    
}
.first-images{
    display: flex;
    flex-direction: column;
    position: relative;
}
.first-images-j{
    display: flex;
    flex-direction: column;
    position: relative;
}
.images span{
    padding-left: 20px;
}
.images p{
    padding-left: 45px;
}
@media screen and (max-width: 767px){
    .images{
        flex-direction: column;
    }
    .first-images-j{
        display: none;
    }


}
.top-button{
    position: relative;
}
.hetz-right{
    position: absolute;
    top: 354px;
    left: 140px;

}
.hetz-left{
    position: absolute;
    top: 352px;
    left:250px;
}
.top-button .hetz-top-right{
position: absolute;
top: 25%;
right:100%;
}
.top-button .hetz-top-left{
position: absolute;
top: 25%;
right:-15%;
    
    
}
.hetz-right-scroll{
position: absolute;
top: 35%;
left:110%;
font-size: 30px;
}
.hetz-left-scroll{
    position: absolute;
    top: 35%;
    left: -10%;
    font-size: 30px;
}





חעעיהחיהההחיהליהלחיהחיהחיהחיהחיהחיהחיהחיהחיהחיהחיהחיהחיהחיהחיהחי
.footer{
  
 
    position:fixed;
    bottom: 0%;
    border-top: 1px solid #d6d6d6;
     
 }
 
 .top-footer{
   
     
     padding-top: 14px;
     padding-top:14px;
     margin-right: -40px;
     margin-left:-40px;
 
    
 }
 
 
 .BottomFooter{
     background:#F1EBDE;
     padding-bottom: 15px;
     display: flex;
     flex-wrap: wrap;
    
 
 }
 
 .BottomFooter .under-line{
     width: 100%;
 }
 
 .footer-container{
     display: flex;
     justify-content: space-between;
     height: 100%;
     width:90%;
     margin-right: 40px;
     margin-left:40px;
     padding-right: 40px;
     padding-left:40px;
     flex-wrap: wrap;
 
   
     
 }
 
 .top-footer a{
     font-weight: 500;
 
 }
 
 
 .newsletter{
     padding-top: 32px;
     padding-bottom:32px;
   
 
 }
 .social a{
     text-decoration: none;
     color: #03F7EB;
     padding: 5px;
 }
 
 input{
     margin-bottom: 24px;
     border-top:0;
     border-right:0;
     border-left:0;
     border-bottom: 1px solid green;
 
 
 }
 
 .submit{
    
 }
 
 .submit i{
     border-top-right-radius:0;
     border-bottom-right-radius:0;
     line-height:20px;
     font-size:3rem;
     padding-top:0;
 
     padding-bottom: 0;
     padding-right: 0%;
 }
 
 @media screen and (max-width:767){
    .nav_container{
        display: flex;
        flex-direction: column;
     
        
    }
 
    .AnnouncementBar p{
        font-size: 10px;
    }
 } 
 
 @media (min-width: 1024px){
     .footer-container{
         padding-top:40px;
 }
 
 
 }
 
 @media screen and(min-width: 1024px){
     .footer-container{
         padding-bottom: 1%;
     }
   
 }